@model PokeQuizWebAPI.Models.QuizModels.QuizAttemptResultsViewModel
@{
    ViewData["Title"] = "QuizResults";
}

<h1>Displaying Quiz Results</h1>

<h3>Questions attempted: @Model.QuestionsAttempted</h3>
<h3>Ammount Correct: @Model.AmountCorrect</h3>
<h3>Score this attempt: @Model.ScoreThisAttempt</h3>

