@model PokeQuizWebAPI.Models.QuizModels.QuizViewModel
@{
    ViewData["Title"] = "QuizView";
}

<h1>QuizView</h1>



@*<body>
    <img src="@$https://pokeapi.co/api/v2/pokemon-form/{@Model.AllCorrectAnswers[1]}"
         width="100%" height="auto" alt="filter applied" />
</body>
</html>*@