@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<html>


<head>
    <style>
        body {
            background-color: CB1A20
            }
        img {
            filter: brightness(0%);
            }
    </style>
</head>

<body>
    <h2>Grayscale Image</h2>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/10.png"
         width="100%" height="auto" alt="filter applied" />
</body>
</html>
